---
import type { DiagonalsSection } from '../../types/content';

interface Props {
  section: DiagonalsSection;
}

const { section } = Astro.props;
const variant = section.variant;
---

{variant === 'grey-to-white' && (
  <div class="relative h-[24px] md:h-20 bg-grey">
    <svg class="absolute inset-0 w-full h-full" viewBox="0 0 1200 80" preserveAspectRatio="none" fill="none">
      <polygon points="0,0 1200,80 1200,80 0,80" fill="var(--color-surface-primary)" />
    </svg>
  </div>
)}

{variant === 'white-to-grey' && (
  <div class="relative h-[24px] md:h-20 bg-white">
    <svg class="absolute inset-0 w-full h-full" viewBox="0 0 1200 80" preserveAspectRatio="none" fill="none">
      <polygon points="0,0 1200,80 1200,80 0,80" fill="var(--color-grey)" />
    </svg>
  </div>
)}

{variant === 'color-strips' && (
  <div class="relative h-[24px] md:h-26.5 bg-navy-umpire overflow-hidden">
    <svg class="absolute inset-0 w-full h-full" viewBox="0 0 1200 106" preserveAspectRatio="none" fill="none">
      <polygon points="0,0 400,106 350,106 0,20" fill="var(--color-orange-basketball)" />
      <polygon points="0,30 500,106 450,106 0,50" fill="var(--color-blue-matchday)" />
      <polygon points="0,60 600,106 550,106 0,80" fill="var(--color-yellow-tennis)" />
    </svg>
  </div>
)}
